# Dependecy directories
node_modules/

# local .env
.env.localhost.*

# compiled files
build/

# screenshot
screenshots/

# sensitive info
.env

# cookies
cookies.json

# all files in documents
documents/*/*.json